.works__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #3E3F43;
    margin-top: 25px;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
}