.categories__card-title {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #3E3F43;
    margin-top: 24px;
    margin-left: 16px;
    margin-bottom: 31px;
}