.header__text {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    color: #313235;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}